{% extends 'quotas/base.html' %}

{% block content %}
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }} alert alert-success"
                                              role="alert"{% endif %}>{{ message }}</li>

                {% endfor %}
            </ul>
        {% endif %}
        <div class="card">
            <h5 class="card-header">{{ doctor.get_full_name }}</h5>
            <div class="card-body">
                <h5 class="card-title"><strong>ID Médico: </strong>{{ doctor.id_veterinarian }}</h5>
                <p class="card-text"><strong>Nombre: </strong>{{ doctor.first_name }}</p>
                <p class="card-text"><strong>Apellido: </strong>{{ doctor.last_name }}</p>
                <p class="card-text"><strong>¿Activo?: </strong>{{ doctor.es_activo }}</p>
                <p class="card-text"><strong>Pagado Hasta: </strong>{{ doctor.pagado_hasta_month }}
                    - {{ doctor.pagado_hasta_year }}</p>
                <p class="card-text"><strong>Activo Hasta: </strong>{{ doctor.activo_hasta_month }}
                    - {{ doctor.activo_hasta_year }}</p>
                <a href="{% url 'update_doctor' doctor.id %}" class="btn btn-primary">Actualizar Datos</a>
                <a href="{% url 'pagar_quota' doctor.id %}" class="btn btn-success">Pagar Cuota</a>
            </div>
        </div>
    </div>


{% endblock content %}